.group-1 {
    height: 636px;
    width: 1192px;
}
 .body{
    background: #C9FFBF;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #FFAFBD, #C9FFBF);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #FFAFBD, #C9FFBF);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }

.rectangle-1 {
    border-radius: 23px;
    height: 636px;
    width: 1192px;
    background-color: #ffffff;
}

.rectangle-2-0 {
    height: 549px;
    width: 1192px;
    background-color: #f7f7fa;
}

.switch-/-on {
    height: 35px;
    width: 41px;
    background-color: #ffffff;
}

.⬛-dark {
    opacity: 0.23999999463558197;
    height: 20px;
    width: 35px;
    background-color: #e6e6e6;
}

.b-gprimary {
    border-radius: 99px;
    height: 20px;
    width: 35px;
    background-color: blue ;
}

.⬛-dark {
    height: 20px;
    width: 20px;
    background-color: #b0f2ab;
}

.b-gprimary {
    border-radius: 99px;
    height: 20px;
    width: 20px;
    background-color:red ;
}